---
layout: default
keywords: andydevs developer python javascript github
---
<div class="bw-header">
    <h1 class="bw-title">{{ site.title }}</h1>
    <button class='bw-action bw-show-on-mobile bw-open'>
        <span class="fas fa-chevron-right"></span>
    </button>
</div>
<div class="series">
    <!-- All Posts in Series -->
    <ul class="post-list">
        {% for post in site.posts %}
            <li class='post-short'>
                {% if post.date %}<h3 class="date">{{ post.date | date: "%b %-d, %Y" }}</h3>{% endif %}
                <h2 class="title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <p class="snippet">{{ post.content | strip_html | truncatewords: 40 }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
