/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0%;
    width: 100%;

    background-color: $brand-color;
    color: $background-color;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,&:visited {
        color: $background-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .rss-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;

            color: $text-color;
        }

        .rss-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;

            color: $text-color;
        }
    }
}

// Site footer
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    // Heading
    .footer-heading {
        font-size: 18px;
        margin-bottom: $spacing-unit / 2;
    }

    // Column wrapper
    .footer-col-wrapper {
        font-size: 15px;
        color: $grey-color;
        margin-left: -$spacing-unit / 2;
        display: flex;
        flex-direction: row;

        // Columns
        .footer-col {
            flex: 1;
            float: left;
            margin-bottom: $spacing-unit / 2;
            padding-left: $spacing-unit / 2;

            // Lists
            ul {
                list-style: none;
                margin-left: 0;
                &:first-child { color: black; }
            }
        }
        .footer-col-description {
            @extend .footer-col;
            flex: 3;
        }
    }

    // On mobile
    @include media-query($on-palm) {
        // Content
        .footer-col-wrapper {
            display: block;
            // Columns
            .footer-col { float: none; }
        }
    }
}

// Page
.page {
    margin-top: 80px;

    // Header
    .header {
        // Post margin
        padding-bottom: $spacing-unit/2;
        margin-bottom: $spacing-unit/2;
        border-bottom: 1px solid $grey-color;

        // Header item
        .header-item { margin: 1pt 0pt;; }

        // Title
        .title {
            @extend .header-item;
            font-size: $xxlarge-font-size;
            letter-spacing: -1px;
            line-height: 1;
        }
    }

    // Post content
    .content {
        text-align: justify;
        margin-bottom: $spacing-unit;
    }
}

// Home page
.series {
    @extend .page;

    // Posts list
    .post-list {
        @extend .content;
        margin-left: 0;
        list-style: none;
        > li { margin-bottom: $spacing-unit; }
    }

    // Post short
    .post-short {
        // Elements
        .short-element {
            display: block;
            margin: 1pt 0pt;
        }

        // Series
        .series {
            @extend .short-element;
            font-size: $medium-font-size;
        }

        // Date
        .date {
            @extend .short-element;
            font-size: $small-font-size;
            color: $grey-color;
        }

        // Title
        .title {
            @extend .short-element;
            font-size: $xlarge-font-size;
            letter-spacing: 0px;
        }

        // Snippet
        .snippet {
            @extend .short-element;
            font-size: $small-font-size;
            color: $grey-color
        }
    }
}

// Posts
.post {
    @extend .page;

    // Header
    .header {
        .series {
            @extend .header-item;
            font-size: $xlarge-font-size;
            color: $grey-color;
        }

        .date {
            @extend .header-item;
            color: $grey-color;
        }
    }
}
