// Creates the box shadow effect
$box-shadow: 0 -4pt 8pt 0 #ccc, 0 6pt 20pt 0 #ccc;

// Transition time
$transition: 0.5s ease-in-out;

// Basic graphic
@mixin graphic {
    display: inline-block;
    border: 2pt solid #aaa;
    border-radius: 2pt;
    transition: $transition;
    &:hover { box-shadow: $box-shadow; }
}

@mixin graphic-side {
    @include graphic;
    margin: 20pt;
    max-height: 100pt;
    @include on-mobile { margin: 10pt; }
}

.graphic-right {
    @include graphic-side;
    float: right;
}

.graphic-left {
    @include graphic-side;
    float: left;
}

.graphic-center {
    @include graphic;
}
