---
---
$baseurl: "/blog";

// Import site theme
@import "{{ site.theme }}";

.keyword-tag {
    display: inline-block;
    margin: 0;
    margin-right: $spacing-1;
    font-style: italic;
    font-style: $small-font-size;

    @include with-theme {
        color: color-for(primary);
    }
}

// Add the caret thing
.menu-title:before,
.page-title:before,
a:before {
    content: '>';
}
a {
    text-decoration: none;
}
.menu-links a:before,
.social-link:before {
    content: '';
}

// Oooohhh easter egg lmao
a.easter-egg {
    &:before { content: ''; }
    @include with-theme {
        color: color-for(text);
    }
}

.notice {
    @include page-section;
    @include with-theme {
        background-color: color-for(secondary);
        color: color-for(text-on-secondary);
    }
    padding: $spacing-1 $spacing-3;
    border-radius: $spacing-2;
}