---
---
// Import site theme
@import "{{ site.theme }}";

.keyword-tag {
    margin: 0;
    margin-right: $spacing-1;
    color: $dark-gray-color;
    font-style: italic;
    font-style: $small-font-size;
}

.darkmode .keyword-tag {
    color: $light-gray-color;
}